Load Data from Drive to Pinecone.json
{
  "name": "Load Data from Drive to Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1wtnSgcwsc-VkZvEfN-UyccmGCH4I9BVO",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        608,
        48
      ],
      "id": "74ec3508-39d4-4916-ac5a-bf01328cbcfd",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VahpqSZx7Whms8qf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        48
      ],
      "id": "514cd2a6-1545-46b4-9595-6e4ee2d48395",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VahpqSZx7Whms8qf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-tesla",
          "mode": "list",
          "cachedResultName": "n8n-tesla"
        },
        "options": {
          "pineconeNamespace": "tslan8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1056,
        48
      ],
      "id": "6c6efe45-1975-4749-b0f9-acef1ee85e33",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "7rnqkZDaxO8NFdCb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        272
      ],
      "id": "bd831fcf-aa70-4a03-bae2-5e726dca8055",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9ND3CdOB5Qj51bko",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "TSLAQ2",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1184,
        272
      ],
      "id": "6e253d4e-e8d2-4b9b-8a34-dd20ac7b2ba3",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "37994ca6-57d3-4b01-b8f7-9eae4e244da3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05f628c50a8fc2c1e36ec0516c5bd6d277f873b65c8c0436843394c74e3b7dab"
  },
  "id": "TffB8p5eOf4HUlaT",
  "tags": []
}