Send Mails from Gmail.json
{
  "name": "Send Mails from Gmail",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d5f00a7b-d6f3-464a-8a18-09f885369f5d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant to send mails."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        0
      ],
      "id": "6734da28-7b64-4f9f-b519-058ab1cb5d13",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        272
      ],
      "id": "7f27a3e3-ae58-4402-9add-cb7f8ad93dfd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9ND3CdOB5Qj51bko",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        480,
        272
      ],
      "id": "573f05df-ae16-4da0-b9b5-e28d8705f048",
      "name": "Gmail",
      "webhookId": "0efa4972-e3dc-4c40-a6cd-ebf1acbb1ead",
      "credentials": {
        "gmailOAuth2": {
          "id": "UHoJfJlDjZTfzyMF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "**Send Mails from Gmail** \n**It send the mail**",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -112
      ],
      "typeVersion": 1,
      "id": "906ae124-664f-4538-bf55-e5ddedd1e37e",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Subject: Compliment for Pratham Raj\n\nHello Pratham Raj,\n\nI hope this message finds you well. I just wanted to let you know that you are doing a great job and you are truly a good boy. Keep up the excellent work!\n\nBest regards, \nYour Friendly Email Agent"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5f417d74-6983-4391-8769-2b79728a804d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05f628c50a8fc2c1e36ec0516c5bd6d277f873b65c8c0436843394c74e3b7dab"
  },
  "id": "jaGoYwZZdAUE4LcH",
  "tags": []
}