Sentiment Check.json
{
  "name": "Sentiment Check",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Monthly Survey",
        "formDescription": "We're using Employee Voice to gather feedback on what's working and where we could improve your experience at work.",
        "formFields": {
          "values": [
            {
              "fieldName": "Employee ID",
              "fieldLabel": "What is your Employee ID?",
              "fieldType": "number",
              "placeholder": "Your Employee ID",
              "requiredField": true
            },
            {
              "fieldName": "Employee Name",
              "fieldLabel": "What is your Employee Name?",
              "placeholder": "Your Employee Name",
              "requiredField": true
            },
            {
              "fieldName": "Your Feedback",
              "fieldLabel": "What is your Feedback?",
              "placeholder": "How satisfied are you with your work?",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [0, -96],
      "id": "5b00214e-3468-4ffa-820f-662b28571e73",
      "name": "On form submission",
      "webhookId": "ebd673ac-6fb0-416b-9ed7-9caf13bcb6d8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Your Feedback'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert in sentiment analysis. You conduct evaluations and determine which of the three options applies:  Positive Negative Neutral  You respond with only one word."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [224, 28],
      "id": "c6db3a00-7a88-465f-a441-92e867c696f5",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [296, 252],
      "id": "ae10abda-a47b-405f-90eb-d162b1349bea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9ND3CdOB5Qj51bko",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [576, -96],
      "id": "c656a4de-8f9c-4be9-bf1c-f37d199c94c3",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kGhNOMX3baGNnzKFnpYRdmpwwH8reS0LVYWHGyg1Tpo",
          "mode": "list",
          "cachedResultName": "Employee Monthly Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kGhNOMX3baGNnzKFnpYRdmpwwH8reS0LVYWHGyg1Tpo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "January 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kGhNOMX3baGNnzKFnpYRdmpwwH8reS0LVYWHGyg1Tpo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee ID": "={{ $json['Employee ID'] }}",
            "Employee Name": "={{ $json['Employee Name'] }}",
            "Your Feedback": "={{ $json['Your Feedback'] }}",
            "Review ": "={{ $json.text }}"
          },
          "matchingColumns": ["Employee ID"],
          "schema": [
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Your Feedback",
              "displayName": "Your Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review ",
              "displayName": "Review ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [864, -192],
      "id": "3a17df8e-a6cc-46f2-bfef-bcfc826692e3",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wbEqvCZTC7soXhVk",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "example@gmail.com",
        "subject": "={{ $json.output[0].content[0].text.email_subject }}",
        "message": "={{ $json.output[0].content[0].text.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1152, 0],
      "id": "6fb36b5e-0f28-4517-b371-737037836e0b",
      "name": "Send a message",
      "webhookId": "65209774-2957-46c2-bde6-b40ac75e2cc3",
      "credentials": {
        "gmailOAuth2": {
          "id": "UHoJfJlDjZTfzyMF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=You are responsible for analyzing employee feedback and generating a formal summary email for the HR team. The email should include the sentiment analysis result and be signed with \"HR Team\". Use <br> tags for line breaks to ensure proper formatting.\n\nReturn ONLY valid JSON (without any Markdown or backticks) in this exact format:\n{\n  \"email_subject\": \"\",\n  \"email_body\": \"\"\n}\n\nemail_subject: A concise and professional subject summarizing the sentiment analysis result.\nemail_body: A formal, well-structured email with proper line breaks using <br> tags.\n\nHere are the details:\nEmployee Name: {{ $json['Employee Name'] }}\nEmployee ID: {{ $json['Employee ID'] }}\nReview: \nSentiment: {{ $json.fields['Sentiment'] }}\n\nThe email should include the following statement:\n\"Employee You are responsible for analyzing employee feedback and generating a formal summary email for the HR team. The email should include the sentiment analysis result and be signed with \"HR Team\". Use <br> tags for line breaks to ensure proper formatting.\n\nReturn ONLY valid JSON (without any Markdown or backticks) in this exact format:\n{\n  \"email_subject\": \"\",\n  \"email_body\": \"\"\n}\n\nemail_subject: A concise and professional subject summarizing the sentiment analysis result.\nemail_body: A formal, well-structured email with proper line breaks using <br> tags.\n\nHere are the details:\nEmployee Name:{{ $json['Employee Name'] }} \nEmployee ID: {{ $json['Employee ID'] }}\nReview:{{ $json.text }} \n\nThe email should include the following statement:\n\"Employee {{ $json['Employee Name'] }} with Employee ID {{ $json['Employee ID'] }} has received {{ $json.text }} feedback this month.\"\n\nAlso include the original review text for reference, that is {{ $json['Your Feedback'] }}. Maintain a professional tone throughout.\n\nSign the email with \"HR Team\". with Employee ID {{ $json['Employee ID'] }} has received {{ $json.text }} feedback this month.\""
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [800, 0],
      "id": "6bc52757-fdbc-4d02-b84f-49c0c5e6e35b",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "9ND3CdOB5Qj51bko",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [[]]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "257e6e39-b1a7-4c9e-b178-dfa45ad81f78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05f628c50a8fc2c1e36ec0516c5bd6d277f873b65c8c0436843394c74e3b7dab"
  },
  "id": "RmVmdz1dDflsh6EZ",
  "tags": []
}
